/* Переменные */
:root {
    --color-content: #383606;
    --color-ascent: #779426;
    --color-bg: #FFFCF9;
    --color-add: #FBF2E5;
    --color-hover: #B6C48D;
    --color-gradient: linear-gradient(180deg, #779426 0%, #F5F5F5 15%, #99B93F 39%, #779426 63%, #C8D3A6 86%, #9BB455 100%);
    --color-error: #FF0000;
}

/* текст */
.title {
    font-family: 'Arsenal';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 69px;
    text-transform: uppercase;

    color: #000000;
}

.subtitle {
    font-family: 'Arsenal';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    text-transform: uppercase;

    color: #000000;
}

.tag {
    font-family: 'Solena';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: var(--color-ascent);
    position: relative;

    padding-left: 15px;
}

.tag::before {
    content: '/';
    position: absolute;
    left: 0;
    top: 7px;
    margin-right: 5px;
    font-size: 40px;
}

.ascent {
    font-family: 'Arsenal';
    font-style: normal;
    font-weight: 400;
    font-size: 22px !important;
    line-height: 28px;

    color: var(--color-content);
}

.description {
    font-family: 'Arsenal';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;

    color: var(--color-content);
}

.button-text {
    font-family: 'Arsenal';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;

    color: var(--color-bg);
}

.link-text {
    color: var(--color-ascent);
    transition: .2s;
}

.link-text:hover {
    color: var(--color-hover);
}

.header-items {
    font-family: 'Arsenal';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;

    color: var(--color-content) !important;
}

.info {
    font-family: 'Arsenal';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    color: var(--color-content) !important;
}

.container {
    max-width: 1144px !important;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

input {
    padding: 12px 10px;
    background-color: var(--color-bg);
    border-radius: 0;
    border: 1px solid var(--color-content);
    transition: .2s;
    color: #383606;
    opacity: .7;
}

input:not(:last-of-type) {
    margin-bottom: 20px;
}

input:hover {
    opacity: 1;
}

input:active {
    border: 1px solid var(--color-ascent) !important;
    opacity: 1 !important;
}

input.right {
    border: 1px solid var(--color-ascent);
    color: var(--color-ascent);
    opacity: 1 !important;
}

input.error {
    border: 1px solid var(--color-error);
    opacity: 1 !important;
}

html,
main {
    background-color: var(--color-bg);
}

/* header */
header {
    background-color: var(--color-bg);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

.before-nav {
    min-height: 63px;
    display: flex;
    align-items: center;
}

.contactW {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

address {
    margin-bottom: 0 !important;
}

.addressW {
    display: flex;
}

.address-item {
    margin-right: 25px;
}

.address-item>p {
    margin-bottom: 2px;
}

.header-logo {
    max-width: 172px;
    max-height: 59px;
}

.socialW {
    display: flex;
}

.social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transition: .2s;
}

.social-item:hover path {
    fill: var(--color-ascent);
}

nav {
    border-top: 1px var(--color-add) solid;
    border-bottom: 1px var(--color-add) solid;
    min-height: 90px;
}

.nav-link {
    margin-left: 15px;
    margin-right: 15px;
    display: inline-block;
    color: var(--color-ascent);
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
}

.nav-link:after {
    background-color: var(--color-ascent);
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.nav-link:hover:after,
.nav-link:focus:after {
    width: 50%;
}

.btn-ascent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 35px;
    border-radius: 0;

    border: none;
    background: var(--color-ascent);
    outline: none;
    transition: .2s;
}

.btn-ascent:hover {
    background-color: var(--color-content);
}


ul.navbar-nav {
    margin-top: 0 !important;
}

/* main */
main {
    margin-top: 153px;
}

.slide-content-bg {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    max-width: 1044px;
    height: 413px;
    background: var(--color-bg);
    opacity: 0.95;
}

.slide-content {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 413px;
    width: 100%;
    max-width: 651px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 15px;
}

.slider {
    position: relative;
    margin-bottom: 120px;
}

.slideW {
    width: 413px;
}

.slide-content>.tag {
    margin-bottom: 10px;
}

.slide-content span {
    color: var(--color-ascent);
}

.slide-content>h2 {
    margin-bottom: 6px;
}

.slide-content button {
    margin-top: 40px;
}

.slider-nav-container {
    position: absolute;
    z-index: 1;
    bottom: 60px;
    right: 15px;
    width: fit-content;
}

.slider-navigation {
    display: flex;
    justify-content: space-between;
}

.slider-navigation>button {
    width: 50px;
    height: 50px;
    background-color: var(--color-hover);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: .2s;
}

.slider-navigation>button:hover {
    background-color: var(--color-ascent);
}

.slider-navigation .right {
    transform: rotate(180deg);
}

.slider-dots {
    height: 50px;
    width: 200px;
    margin: 0 50px;
    z-index: 2;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.owl-dot {
    width: 16px;
    height: 16px;
    background-color: var(--color-bg);
    opacity: .4;
    border: none;
    margin: 0 10px;
}

.owl-dot.active {
    background-color: var(--color-ascent);
    opacity: 1;
}

/* our-advantages (Наши преимущества) */
.our-advantages {
    margin-bottom: 120px;
    position: relative;
    z-index: 0;
}

.titleW {
    margin-bottom: 60px;
}

.row-25 {
    margin-left: -25px !important;
    margin-right: -25px !important;

}

.cardW {
    position: relative;
    padding-right: 25px !important;
    padding-left: 25px !important;
    margin-bottom: 50px;
}

.card {
    border-radius: 0 !important;
    border: 2px solid var(--color-ascent) !important;
    padding: 15px 53px 40px 15px !important;
    height: 100% !important;
}

.carg-img {
    position: absolute;
    right: 5px;
    bottom: -20px;
    width: 75px;
    height: 75px;
    background-color: var(--color-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-ascent);
}

.bg-img-op {
    opacity: .12;
}

.bg-1 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.bg-2 {
    position: absolute;
    top: -190px;
    right: 0;
    z-index: -2;
}

/* about-us (О компании) */
.about-us {
    margin-bottom: 120px;
    position: relative;
}

.bg-3 {
    position: absolute;
    left: 0;
    top: 0;
}

.about-us p:not(:last-of-type) {
    margin-bottom: 30px;
}

.text-green {
    color: var(--color-ascent);
}

/* services (Услуги)*/
.services {
    margin-bottom: 120px;
    position: relative;
}

.bg-4 {
    position: absolute;
    top: 0px;
    right: 0px;
}

.li-popup {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--color-ascent);
    background-color: var(--color-bg);
    padding: 15px 0;
    text-align: left;
    cursor: pointer;
    color: var(--color-content);
    transition: .2s;
    position: relative;
    z-index: 2;
}

.li-popup:hover {
    background-color: var(--color-hover);
}

.li-popup.active {
    padding-left: 15px;
    background-color: var(--color-ascent);
    color: var(--color-bg);
}

.li-popup-text {
    background-color: var(--color-add);
    margin-left: -100px;
    padding: 30px 30px 30px 100px;
    position: relative;
    top: -32px;
    z-index: 1;
}

.active {
    display: block;
}

.tab-pane>button {
    margin-left: auto;
    margin-top: 45px;
}

/* projects (Портфолио) */
.projects {
    position: relative;
    z-index: 0;
    margin-bottom: 120px;
}

.bg-5 {
    position: absolute;
    left: 0;
    top: 200px;
    z-index: -2;
}

.projects>.bg {
    position: absolute;
    left: 0px;
    top: 143px;
    right: 0px;
    height: 426px;
    background-color: var(--color-add);
    z-index: -1;
}

.prijectW {
    position: relative;
    margin-bottom: 30px;
    cursor: pointer;
}

.project-text {
    min-height: 127px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-bg);
    opacity: 0.85;
    margin: 0px 1px 1px 1px;
    padding: 25px 30px;
    transition: .2s;
}

.prijectW:hover .project-text {
    background: var(--color-ascent);

}

.prijectW:hover .project-text>p {
    color: var(--color-bg);
}

.project-text>p {
    margin-bottom: 0;
}

.prijectW>img {
    height: 470px;
    width: 100%;
}

/* Модальное окно 1 */

.modal-dialog {
    max-width: 672px !important;
    width: 100% !important;
}

.modal-content {
    border-radius: 0 !important;
    background-color: var(--color-add) !important;
    padding: 60px !important;
}

.form-footer {
    display: flex;
    flex-wrap: unset;
    border: 0;
    padding: 0;
}

/* input {
    display: block;
    background-color: var(--color-bg);
    height: 26px;
    max-width: 26px;
    width: 100%;
    border-radius: 0;
} */

.form-footer label.description {
    margin-left: 6px;
}

.modal .btn-close {
    position: absolute;
    top: 30px;
    right: 30px;
    border-radius: 0;
    border: 2px solid var(--color-ascent);
    background: transparent;
    opacity: 1 !important;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.modal .btn-close:hover {
    background-color: var(--color-ascent);
}

.modal .btn-close:hover>svg>path {
    fill: var(--color-add);
}

.modal .btn-close :focus {
    box-shadow: unset !important;
}

.form-body {
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
}



.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox+label:before {
    content: '';
    display: block;
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 0;
    background-color: var(--color-bg);
    transition: .2s;
    cursor: pointer;
}

.checkbox+label:hover:before {
    border: 1px solid var(--color-ascent);
}

.checkbox:checked+label:before {
    border: 1px solid var(--color-ascent);
    background-image: url('../images/icons/check.svg');
    background-repeat: no-repeat;
    background-position: center;
}

/* questions (Часто задаваемые вопросы) */
.questions {
    position: relative;
    margin-bottom: 160px;
    z-index: 0;
}

.bg-6 {
    position: absolute;
    right: 0px;
    bottom: -350px;
    z-index: -1;
}

.accordion-button {
    background-color: transparent !important;
}

.accordion-header {
    display: flex;
    align-items: center;
    padding-right: 16px;
}

.accordion-header path {
    transition: .2s;
}

.accordion-button:not(.collapsed) {
    box-shadow: none !important;
}

.accordion-header:hover .plus path {
    stroke: var(--color-ascent);
}

.accordion-item.active .accordion-header .plus {
    display: none;
}

.accordion-item .accordion-header .minus {
    display: none;
}

.accordion-item.active .accordion-header .minus {
    display: flex;
}

/* .accordion-button:after {
    background-image: url('assets/images/icons/plus.svg') !important;
}

.accordion-button:not(.collapsed):after {
    background-image: url('assets/images/icons/minus.svg') !important;
    transform: none !important;
} */

.accordion-button:focus {
    border-color: none !important;
    box-shadow: none !important;
}

.accordion-item {
    border-top: 2px solid var(--color-ascent) !important;
    border-bottom: 2px solid var(--color-ascent) !important;
    margin-bottom: -2px;
    transition: .2s;
    background-color: var(--color-bg) !important;
}

.accordion-item:hover .accordion-button:not(.collapsed) {
    box-shadow: none !important;
}

.accordion-item.active {
    background-color: var(--color-ascent) !important;
}

.accordion-item.active .accordion-button,
.accordion-item.active .accordion-body {
    color: var(--color-bg);
}

/* feedback (Обратная связь)*/
.feedback {
    margin-bottom: 160px;
    display: flex;
    align-items: center;
    padding: 60px 0;
    position: relative;
    z-index: 1;
}

.feedbackW {
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 576px;
}

.feedback-img {
    position: absolute;
    right: 0;
}

.left-bg {
    position: absolute;
    height: 100%;
    width: 60%;
    background-color: var(--color-add);
    left: 0;
}


/* contacts (Контакты) */
.contacts {
    margin-bottom: 160px;
    display: flex;
    align-items: center;
    padding: 30px 0;
    position: relative;
    z-index: 0;
}

.bg-7 {
    position: absolute;
    left: 0;
    top: -800px;
    z-index: -1;
}

.contacts-content {
    display: flex;
    align-items: center;
    position: relative;
    padding: 40px 0;
}

.contactsW {
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 649px;
}

.right-bg {
    position: absolute;
    height: 100%;
    width: 60%;
    background-color: var(--color-add);
    right: 0;
}

.contacts-address {
    position: absolute;
    right: -30px;
    max-width: 513px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    top: 0;
}

.map {
    display: flex;
    align-items: center;
}

.map>iframe {
    border: 1px solid var(--color-content);
    padding: 1px;
}

.menu-address {
    width: 100%;
}

.menu-address p.text-green {
    margin-top: 20px;
    margin-bottom: 6px;
}

.menu-address>a {
    color: var(--color-content);
}

.menu-address .list {
    max-height: 0;
    transition: .2s ease-out;
    overflow: hidden;
    background: var(--color-add);
    position: absolute;
    border-bottom: 1px solid var(--color-content);
    padding-left: 0;
}

.menu-address:hover .list {
    border-bottom: 1px solid var(--color-ascent);
}

.menu-address:hover .list {
    border-bottom: 1px solid var(--color-ascent);
}

.menu-address .list>li {
    cursor: pointer;
    background-color: transparent;
    transition: .2s;
}

.menu-address .list>li:not(:last-of-type) {
    margin-bottom: 8px;
}

.menu-address .list>li.text-green:hover {
    color: var(--color-hover);
}

.menu-address-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .2s;
    cursor: pointer;
}

.menu-address-btn:hover .list {
    border-bottom: 1px solid var(--color-ascent) !important;
}

.menu-address-btn.active .arrow {
    transform: rotate(180deg);
}

.menu-address-btn.active .arrow>path {
    fill: var(--color-ascent);
}

.menu-address-btn .arrow {
    transition: .2s;
}

.menu-address-btn:hover .arrow>path {
    fill: var(--color-ascent);
}

.menu-address .list.active {
    max-height: 500px;
    transition: .2s ease-in;
    border-bottom: 1px solid transparent;
}

.menu-address .list.active {
    border-top: 1px solid var(--color-ascent);
    padding: 15px 0;
}

/* footer */
footer {
    background-color: var(--color-add);
    padding: 20px 0;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-social {
    display: flex;
}

.social-item-border {
    border: 1px solid var(--color-content);
    margin: 7.5px;
    width: 38px;
    height: 38px;
}

.social-item path {
    transition: .2s;
}

.social-item-border:hover {
    border: 1px solid var(--color-ascent);
}

.footer-modal {
    max-width: 262px;
    width: 100%;
}

.footer-modal>button {
    margin-left: auto;
}